@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.ChiTietThuHoies
@model CreateOrEditChiTietThuHoiModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditChiTietThuHoi")) : L("CreateNewChiTietThuHoi")))

<div class="modal-body">
    <div id="ChiTietThuHoiInformationsTab">
        <form name="ChiTietThuHoiInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.ChiTietThuHoi.Id"/>
            }

            @*             <div class="form-group m-form__group"> *@
            @*                 <label for="DanhMucThuHoiTen">@L("DanhMucThuHoi")</label> *@
            @*                 <div class="input-group"> *@
            @*                     <input class="form-control" id="DanhMucThuHoiTen" name="danhMucThuHoiTen" value="@Model.DanhMucThuHoiTen" type="text" disabled> *@
            @*                     <div class="input-group-append"> *@
            @*                         <button class="btn btn-primary blue" id="OpenDanhMucThuHoiLookupTableButton" type="button"> *@
            @*                             <i class="fa fa-search"></i> @L("Pick")</button> *@
            @*                     </div> *@
            @*                     <div class="input-group-prepend"> *@
            @*                         <button class="btn btn-danger btn-icon" type="button" id="ClearDanhMucThuHoiTenButton"> *@
            @*                             <i class="fa fa-times"></i> *@
            @*                         </button> *@
            @*                     </div> *@
            @*                 </div> *@
            @*             </div> *@
            @* *@
            @*             @if (Model.IsEditMode) *@
            @*             { *@
            @*                 <input class="form-control" id="ChiTietThuHoi_DanhMucThuHoiId" value="@Model.ChiTietThuHoi.DanhMucThuHoiId" type="text" name="danhMucThuHoiId" hidden/> *@
            @*             } *@
            @*             else *@
            @*             { *@
            @*                 <input class="form-control" id="ChiTietThuHoi_DanhMucThuHoiId" value="" type="text" name="danhMucThuHoiId" hidden/> *@
            @*             } *@
            <input class="form-control" id="ChiTietThuHoi_DanhMucThuHoiId" value="@Model.ChiTietThuHoi.DanhMucThuHoiId" type="text" name="danhMucThuHoiId" hidden/>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div for="ChiTietThuHoi_Ten" style="text-align: center; font-weight: bold">@L("Ten")</div>
                        <input class="form-control" id="ChiTietThuHoi_Ten" value="@Model.ChiTietThuHoi.Ten" type="text" name="ten"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div for="ChiTietThuHoi_GhiChu" style="text-align: center; font-weight: bold">@L("GhiChu")</div>
                        <input class="form-control" id="ChiTietThuHoi_GhiChu" value="@Model.ChiTietThuHoi.GhiChu" type="text" name="ghiChu"/>
                    </div>
                </div>
            </div>

            <h4>SỐ DƯ TẠM ỨNG</h4>
            <table id="DuTamUngTable" class="table table-bordered table-striped table-hover">
                <thead>
                <tr bgcolor="#28a745">
                    <th style="text-align: center">Tổng cộng</th>
                    <th style="text-align: center">Tháng 1</th>
                    <th style="text-align: center">Tháng 2</th>
                    <th style="text-align: center">Tháng 3</th>
                    <th style="text-align: center">Tháng 4</th>
                    <th style="text-align: center">Tháng 5</th>
                    <th style="text-align: center">Tháng 6</th>
                </tr>
                <tr>
                    <td rowspan="3" style="text-align:center; vertical-align: middle;"><input disabled style="font-weight: bold" class="form-control m-input inputMask" id="ChiTietThuHoi_TongDu" value="@Model.ChiTietThuHoi.TongDu.ToString(CultureInfo.InvariantCulture)" type="text" name="tongDu" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/></td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du1" value="@Model.ChiTietThuHoi.Du1.ToString(CultureInfo.InvariantCulture)" type="text" name="du1" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du2" value="@Model.ChiTietThuHoi.Du2.ToString(CultureInfo.InvariantCulture)" type="text" name="du2" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du3" value="@Model.ChiTietThuHoi.Du3.ToString(CultureInfo.InvariantCulture)" type="text" name="du3" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du4" value="@Model.ChiTietThuHoi.Du4.ToString(CultureInfo.InvariantCulture)" type="text" name="du4" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du5" value="@Model.ChiTietThuHoi.Du5.ToString(CultureInfo.InvariantCulture)" type="text" name="du5" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du6" value="@Model.ChiTietThuHoi.Du6.ToString(CultureInfo.InvariantCulture)" type="text" name="du6" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                </tr>
                <tr bgcolor="#28a745">
                    <th style="text-align: center">Tháng 7</th>
                    <th style="text-align: center">Tháng 8</th>
                    <th style="text-align: center">Tháng 9</th>
                    <th style="text-align: center">Tháng 10</th>
                    <th style="text-align: center">Tháng 11</th>
                    <th style="text-align: center">Tháng 12</th>
                </tr>
                <tr>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du7" value="@Model.ChiTietThuHoi.Du7.ToString(CultureInfo.InvariantCulture)" type="text" name="du7" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du8" value="@Model.ChiTietThuHoi.Du8.ToString(CultureInfo.InvariantCulture)" type="text" name="du8" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du9" value="@Model.ChiTietThuHoi.Du9.ToString(CultureInfo.InvariantCulture)" type="text" name="du9" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du10" value="@Model.ChiTietThuHoi.Du10.ToString(CultureInfo.InvariantCulture)" type="text" name="du10" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du11" value="@Model.ChiTietThuHoi.Du11.ToString(CultureInfo.InvariantCulture)" type="text" name="du11" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Du12" value="@Model.ChiTietThuHoi.Du12.ToString(CultureInfo.InvariantCulture)" type="text" name="du12" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                </tr>
                </thead>
            </table>
            <br/>
            <h4>DỰ KIẾN THU HỒI</h4>
            <table id="ThuHoiTamUngTable" class="table table-bordered table-striped table-hover">
                <thead>
                <tr bgcolor="#28a745">
                    <th style="text-align: center">Tổng cộng</th>
                    <th style="text-align: center">Tháng 1</th>
                    <th style="text-align: center">Tháng 2</th>
                    <th style="text-align: center">Tháng 3</th>
                    <th style="text-align: center">Tháng 4</th>
                    <th style="text-align: center">Tháng 5</th>
                    <th style="text-align: center">Tháng 6</th>
                </tr>
                <tr>
                    <td rowspan="3" style="text-align:center; vertical-align: middle;"><input disabled style="font-weight: bold" class="form-control m-input inputMask" id="ChiTietThuHoi_TongThu" value="@Model.ChiTietThuHoi.TongThu.ToString(CultureInfo.InvariantCulture)" type="text" name="tongThu" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/></td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu1" value="@Model.ChiTietThuHoi.Thu1.ToString(CultureInfo.InvariantCulture)" type="text" name="thu1" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu2" value="@Model.ChiTietThuHoi.Thu2.ToString(CultureInfo.InvariantCulture)" type="text" name="thu2" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu3" value="@Model.ChiTietThuHoi.Thu3.ToString(CultureInfo.InvariantCulture)" type="text" name="thu3" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu4" value="@Model.ChiTietThuHoi.Thu4.ToString(CultureInfo.InvariantCulture)" type="text" name="thu4" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu5" value="@Model.ChiTietThuHoi.Thu5.ToString(CultureInfo.InvariantCulture)" type="text" name="thu5" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu6" value="@Model.ChiTietThuHoi.Thu6.ToString(CultureInfo.InvariantCulture)" type="text" name="thu6" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                </tr>
                <tr bgcolor="#28a745">
                    <th style="text-align: center">Tháng 7</th>
                    <th style="text-align: center">Tháng 8</th>
                    <th style="text-align: center">Tháng 9</th>
                    <th style="text-align: center">Tháng 10</th>
                    <th style="text-align: center">Tháng 11</th>
                    <th style="text-align: center">Tháng 12</th>
                </tr>
                <tr>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu7" value="@Model.ChiTietThuHoi.Thu7.ToString(CultureInfo.InvariantCulture)" type="text" name="thu7" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu8" value="@Model.ChiTietThuHoi.Thu8.ToString(CultureInfo.InvariantCulture)" type="text" name="thu8" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu9" value="@Model.ChiTietThuHoi.Thu9.ToString(CultureInfo.InvariantCulture)" type="text" name="thu9" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu10" value="@Model.ChiTietThuHoi.Thu10.ToString(CultureInfo.InvariantCulture)" type="text" name="thu10" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu11" value="@Model.ChiTietThuHoi.Thu11.ToString(CultureInfo.InvariantCulture)" type="text" name="thu11" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                    <td>
                        <input class="form-control m-input inputMask" id="ChiTietThuHoi_Thu12" value="@Model.ChiTietThuHoi.Thu12.ToString(CultureInfo.InvariantCulture)" type="text" name="thu12" data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </td>
                </tr>
                </thead>
            </table>


        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")