@using TechBer.ChuyenDoiSo.Authorization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.ChiTietThuHoies
@using TechBer.ChuyenDoiSo.Web.Areas.App.Startup
@model ChiTietThuHoiesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Host.ChiTietThuHoies;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/ChiTietThuHoies/Index.js" asp-append-version="true"></script>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


<div class="kt-subheader kt-grid__item">
    <div class="@(await GetContainerClass())">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>@L("ChiTietThuHoies")</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                @L("ChiTietThuHoiesHeaderInfo")
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button id="ExportToExcelButton" class="btn btn-outline-success">
                    <i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
                @if (IsGranted(AppPermissions.Pages_ChiTietThuHoies_Create))
                {
                    <button id="CreateNewChiTietThuHoiButton" class="btn btn-primary blue">
                        <i class="fa fa-plus"></i> @L("CreateNewChiTietThuHoi")</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
<div class="kt-portlet kt-portlet--mobile">
<div class="kt-portlet__body">
<div class="kt-form">
    <div class="row align-items-center mb-4">
        <div class="col-xl-12">
            <div class="form-group align-items-center">
                <div class="input-group">
                    <input type="text" id="ChiTietThuHoiesTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                    <span class="input-group-btn">
                        <button id="GetChiTietThuHoiesButton" class="btn btn-primary" type="submit">
                            <i class="flaticon-search-1"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
<div class="col-md-12">
    <div class="kt-separator kt-separator--border-dashed"></div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu1FilterId">@L("MinMax") @L("Du1")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu1Filter" id="MinDu1FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu1Filter" id="MaxDu1FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu2FilterId">@L("MinMax") @L("Du2")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu2Filter" id="MinDu2FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu2Filter" id="MaxDu2FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu3FilterId">@L("MinMax") @L("Du3")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu3Filter" id="MinDu3FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu3Filter" id="MaxDu3FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu4FilterId">@L("MinMax") @L("Du4")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu4Filter" id="MinDu4FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu4Filter" id="MaxDu4FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu5FilterId">@L("MinMax") @L("Du5")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu5Filter" id="MinDu5FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu5Filter" id="MaxDu5FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu6FilterId">@L("MinMax") @L("Du6")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu6Filter" id="MinDu6FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu6Filter" id="MaxDu6FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu7FilterId">@L("MinMax") @L("Du7")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu7Filter" id="MinDu7FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu7Filter" id="MaxDu7FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu8FilterId">@L("MinMax") @L("Du8")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu8Filter" id="MinDu8FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu8Filter" id="MaxDu8FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu9FilterId">@L("MinMax") @L("Du9")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu9Filter" id="MinDu9FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu9Filter" id="MaxDu9FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu10FilterId">@L("MinMax") @L("Du10")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu10Filter" id="MinDu10FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu10Filter" id="MaxDu10FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu11FilterId">@L("MinMax") @L("Du11")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu11Filter" id="MinDu11FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu11Filter" id="MaxDu11FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinDu12FilterId">@L("MinMax") @L("Du12")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minDu12Filter" id="MinDu12FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxDu12Filter" id="MaxDu12FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu1FilterId">@L("MinMax") @L("Thu1")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu1Filter" id="MinThu1FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu1Filter" id="MaxThu1FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu2FilterId">@L("MinMax") @L("Thu2")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu2Filter" id="MinThu2FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu2Filter" id="MaxThu2FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu3FilterId">@L("MinMax") @L("Thu3")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu3Filter" id="MinThu3FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu3Filter" id="MaxThu3FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu4FilterId">@L("MinMax") @L("Thu4")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu4Filter" id="MinThu4FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu4Filter" id="MaxThu4FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu5FilterId">@L("MinMax") @L("Thu5")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu5Filter" id="MinThu5FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu5Filter" id="MaxThu5FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu6FilterId">@L("MinMax") @L("Thu6")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu6Filter" id="MinThu6FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu6Filter" id="MaxThu6FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu7FilterId">@L("MinMax") @L("Thu7")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu7Filter" id="MinThu7FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu7Filter" id="MaxThu7FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu8FilterId">@L("Thu8Range")</label>
        <div class="input-group">
            <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinThu8FilterId">
            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
            <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxThu8FilterId">
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu9FilterId">@L("MinMax") @L("Thu9")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu9Filter" id="MinThu9FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu9Filter" id="MaxThu9FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu10FilterId">@L("MinMax") @L("Thu10")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu10Filter" id="MinThu10FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu10Filter" id="MaxThu10FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu11FilterId">@L("MinMax") @L("Thu11")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu11Filter" id="MinThu11FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu11Filter" id="MaxThu11FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="MinThu12FilterId">@L("MinMax") @L("Thu12")</label>
        <div class="input-group">
            <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minThu12Filter" id="MinThu12FilterId"/>
            <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxThu12Filter" id="MaxThu12FilterId"/>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="GhiChuFilterId">@L("GhiChu")</label>
        <input type="text" class="form-control" name="ghiChuFilter" id="GhiChuFilterId">
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="DanhMucThuHoiTenFilterId">(@L("DanhMucThuHoi")) @L("Ten")</label>
        <input type="text" class="form-control" name="danhMucThuHoiTenFilter" id="DanhMucThuHoiTenFilterId">
    </div>
</div>
</div>
<div class="row mb-4">
    <div class="col-xl-12">
        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
            <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
            <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
    </div>
</div>
<div class="row align-items-center">
    <table id="ChiTietThuHoiesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
        <thead>
        <tr>
            <th>@L("Actions")</th>
            <th>@L("Du1")</th>
            <th>@L("Du2")</th>
            <th>@L("Du3")</th>
            <th>@L("Du4")</th>
            <th>@L("Du5")</th>
            <th>@L("Du6")</th>
            <th>@L("Du7")</th>
            <th>@L("Du8")</th>
            <th>@L("Du9")</th>
            <th>@L("Du10")</th>
            <th>@L("Du11")</th>
            <th>@L("Du12")</th>
            <th>@L("Thu1")</th>
            <th>@L("Thu2")</th>
            <th>@L("Thu3")</th>
            <th>@L("Thu4")</th>
            <th>@L("Thu5")</th>
            <th>@L("Thu6")</th>
            <th>@L("Thu7")</th>
            <th>@L("Thu8")</th>
            <th>@L("Thu9")</th>
            <th>@L("Thu10")</th>
            <th>@L("Thu11")</th>
            <th>@L("Thu12")</th>
            <th>@L("GhiChu")</th>
            <th>@L("DanhMucThuHoiTen")</th>
        </tr>
        </thead>
    </table>
</div>
</div>
</div>
</div>
</div>