@using TechBer.ChuyenDoiSo.Authorization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.LoaiDuAns
@using TechBer.ChuyenDoiSo.Web.Areas.App.Startup
@model LoaiDuAnsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.LoaiDuAns;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/LoaiDuAns/Index.js" asp-append-version="true"></script>
}
<style>
    .tooltipss {
      position: relative;
      border-bottom: 1px dotted black;
    }
    
    .tooltipss .tooltipsstext {
      visibility: hidden;
      width: 100%;
      background-color: #164640d4;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      top:40px;
      left:0;
      /* Position the tooltip */
      position: absolute;
      z-index: 999;
    }
    
    .tooltipss:hover .tooltipsstext {
      visibility: visible;
    }
</style>
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("LoaiDuAns")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("LoaiDuAnsHeaderInfo")
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button id="ExportToExcelButton" class="btn btn-outline-success">
                        <i class="fa fa-file-excel"></i> @L("ExportToExcel")
                    </button>
                    @if (IsGranted(AppPermissions.Pages_LoaiDuAns_Create))
                    {
                        <button id="CreateNewLoaiDuAnButton" class="btn btn-primary blue">
                            <i class="fa fa-plus"></i> @L("CreateNewLoaiDuAn")
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="LoaiDuAnsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetLoaiDuAnsButton" class="btn btn-primary" type="submit">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row align-items-center">
                    <div class="col-md-4 align-self-stretch">
                        <table id="LoaiDuAnsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>@L("Actions")</th>
                                <th>@L("Name")</th>
                                <th>@L("OrganizationUnitDisplayName")</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-8 align-self-stretch">
                        <div class="kt-container kt-container--fluid">
                            <div class="kt-subheader__main">
                                <h3 class="kt-subheader__title">
                                    <span>Danh sách quy trình</span>
                                </h3>
                                <div class="kt-portlet__head-toolbar" id="find" hidden>
                                    <div class="kt-portlet__head-actions">
                                        <button type="button" id="Collapse" class="btn btn-danger"><i class="fa fa-minus"></i> Thu hẹp</button>
                                        <button type="button" id="Expand" class="btn btn-success" hidden><i class="fa fa-plus"></i> Mở rộng</button>

                                        @if (IsGranted(AppPermissions.Pages_QuyTrinhDuAns_Create))
                                        {
                                            <button type="button" id="AddRootUnitButtonIA" class="btn btn-primary">
                                                <i class="la la-plus"></i> @L("AddRootUnit")
                                            </button>
                                        }
                                        <button type="button" class="btn btn-default" id="reload-tree">
                                            <i class="fa fa-sync"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__body" style="position:relative;height:calc(100vh - 300px); overflow-y: scroll">
                                <div id="tree"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>