
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.QuanHuyens
@model QuanHuyenViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="QuanHuyenInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.QuanHuyen.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Ma") :</h6>
                @Model.QuanHuyen.Ma
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("TinhThanh")) @L("Name") :</h6>
                @Model.TinhThanhName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

