
@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.LoaiKhoans
@model CreateOrEditLoaiKhoanModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLoaiKhoan")) : L("CreateNewLoaiKhoan")))

<div class="modal-body">
        <div id="LoaiKhoanInformationsTab">
            <form name="LoaiKhoanInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.LoaiKhoan.Id" />
                }

				

				
								<div class="form-group">
									<label for="LoaiKhoan_MaSo">@L("MaSo")</label>
									<input class="form-control" id="LoaiKhoan_MaSo" value="@Model.LoaiKhoan.MaSo" type="text" name="maSo"     />
								</div>
					
								<div class="form-group">
									<label for="LoaiKhoan_Ten">@L("Ten")</label>
									<input class="form-control" id="LoaiKhoan_Ten" value="@Model.LoaiKhoan.Ten" type="text" name="ten"     />
								</div>
					
								<div class="form-group">
									<label for="LoaiKhoan_GhiChu">@L("GhiChu")</label>
									<input class="form-control" id="LoaiKhoan_GhiChu" value="@Model.LoaiKhoan.GhiChu" type="text" name="ghiChu"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
