@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.DuAns
@model CreateOrEditDuAnModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDuAn")) : L("CreateNewDuAn")))

<div class="modal-body">
    <div id="DuAnInformationsTab">
        <form name="DuAnInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.DuAn.Id"/>
            }
            <div class="row">
                <div class="col-6">
                    <div class="form-group m-form__group">
                        <label for="LoaiDuAnName">@L("LoaiDuAn")</label>
                        <div class="input-group">
                            <input class="form-control" id="LoaiDuAnName" name="loaiDuAnName" value="@Model.LoaiDuAnName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" id="OpenLoaiDuAnLookupTableButton" type="button">
                                    <i class="fa fa-search"></i> @L("Pick")</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" id="ClearLoaiDuAnNameButton">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="DuAn_LoaiDuAnId" value="@Model.DuAn.LoaiDuAnId" type="text" name="loaiDuAnId" hidden/>
                    }
                    else
                    {
                        <input class="form-control" id="DuAn_LoaiDuAnId" value="" type="text" name="loaiDuAnId" hidden/>
                    }

                    <div class="form-group">
                        <label for="DuAn_Name">@L("TenDuAn")</label>
                        <input class="form-control" id="DuAn_Name" value="@Model.DuAn.Name" type="text" name="name" required/>
                    </div>
                    
                    <div class="form-group">
                        <label for="DuAn_Descriptions">@L("MaDuAn")</label>
                        <input class="form-control" id="DuAn_Descriptions" value="@Model.DuAn.Descriptions" type="text" name="descriptions"/>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="form-group m-form__group">
                        <label for="ChuongName">@L("Chuongs")</label>
                        <div class="input-group">
                            <input class="form-control" id="ChuongName" name="chuongName" value="@Model.ChuongName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" id="OpenChuongLookupTableButton" type="button">
                                    <i class="fa fa-search"></i> @L("Pick")</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" id="ClearChuongNameButton">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="DuAn_ChuongId" value="@Model.DuAn.ChuongId" type="text" name="chuongId" hidden/>
                    }
                    else
                    {
                        <input class="form-control" id="DuAn_ChuongId" value="" type="text" name="chuongId" hidden/>
                    }
                    <div class="form-group m-form__group">
                        <label for="LoaiKhoanName">@L("LoaiKhoans")</label>
                        <div class="input-group">
                            <input class="form-control" id="LoaiKhoanName" name="loaiKhoanName" value="@Model.LoaiKhoanName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" id="OpenLoaiKhoanLookupTableButton" type="button">
                                    <i class="fa fa-search"></i> @L("Pick")</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" id="ClearLoaiKhoanNameButton">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="DuAn_LoaiKhoanId" value="@Model.DuAn.LoaiKhoanId" type="text" name="loaiKhoanId" hidden/>
                    }
                    else
                    {
                        <input class="form-control" id="DuAn_LoaiKhoanId" value="" type="text" name="loaiKhoanId" hidden/>
                    }
                    
                </div>
            </div>
            
            


        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")