@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.DuAns
@model CreateOrEditDuAnModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDuAn")) : L("CreateNewDuAn")))

<div class="modal-body">
    <div id="DuAnInformationsTab">
        <form name="DuAnInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.DuAn.Id"/>
            }


            <div class="form-group m-form__group">
                <label for="LoaiDuAnName">@L("LoaiDuAn")</label>
                <div class="input-group">
                    <input class="form-control" id="LoaiDuAnName" name="loaiDuAnName" value="@Model.LoaiDuAnName" type="text" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenLoaiDuAnLookupTableButton" type="button">
                            <i class="fa fa-search"></i> @L("Pick")</button>
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-danger btn-icon" type="button" id="ClearLoaiDuAnNameButton">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            @if (Model.IsEditMode)
            {
                <input class="form-control" id="DuAn_LoaiDuAnId" value="@Model.DuAn.LoaiDuAnId" type="text" name="loaiDuAnId" hidden/>
            }
            else
            {
                <input class="form-control" id="DuAn_LoaiDuAnId" value="" type="text" name="loaiDuAnId" hidden/>
            }


            <div class="form-group">
                <label for="DuAn_Name">@L("Name")</label>
                <input class="form-control" id="DuAn_Name" value="@Model.DuAn.Name" type="text" name="name" required/>
            </div>

            <div class="form-group">
                <label for="DuAn_Descriptions">@L("Descriptions")</label>
                <input class="form-control" id="DuAn_Descriptions" value="@Model.DuAn.Descriptions" type="text" name="descriptions"/>
            </div>


        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")