
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.DayKes
@model DayKeViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="DayKeInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("MaSo") :</h6>
                @Model.DayKe.MaSo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Ten") :</h6>
                @Model.DayKe.Ten
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("PhongKho")) @L("MaSo") :</h6>
                @Model.PhongKhoMaSo
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

