@using System.Globalization
@using GraphQL
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.VanBanDuAns
@model CreateOrEditVanBanDuAnModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("ChinhSuaHoSoDuAn")) : L("ThemHoSoDuAn")))

<div class="modal-body">
    <div id="VanBanDuAnInformationsTab">
        <form name="VanBanDuAnInformationsForm" id="VanBanDuAnInformationsForm"  method="POST" role="form" novalidate class="form-validation" action="VanBanDuAns/UploadFileHopDong">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.VanBanDuAn.Id"/>
            }
            
            <input class="form-control" id="VanBanDuAn_DuAnId" value="@Model.VanBanDuAn.DuAnId" type="text" name="duAnId" hidden/>

            <input class="form-control" id="VanBanDuAn_QuyTrinhDuAnId" value="@Model.VanBanDuAn.QuyTrinhDuAnId" type="text" name="quyTrinhDuAnId" hidden/>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="VanBanDuAn_Name">@L("TenHoSo")</label>
                        <input class="form-control" id="VanBanDuAn_Name" value="@Model.VanBanDuAn.Name" type="text" name="name"/>
                    </div>

                    <div class="form-group">
                        <label for="VanBanDuAn_KyHieuVanBan">@L("QuyetDinh")</label>
                        <input class="form-control" id="VanBanDuAn_KyHieuVanBan" value="@Model.VanBanDuAn.KyHieuVanBan" type="text" name="kyHieuVanBan"/>
                    </div>

                    <div class="form-group">
                        <label for="VanBanDuAn_NgayBanHanh">@L("NgayBanHanh")</label>
                        <input class="form-control m-input date-picker" id="VanBanDuAn_NgayBanHanh" type="text" name="ngayBanHanh" value="@Model.VanBanDuAn.NgayBanHanh"/>
                    </div>

                    <div class="form-group m-form__group">
                        <label for="QuyetDinhSo">@L("QuyetDinhs")</label>
                        <div class="input-group">
                            <input class="form-control" id="QuyetDinhSo" name="quyetDinhSo" value="@Model.QuyetDinhSo" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" id="OpenQuyetDinhLookupTableButton" type="button">
                                    <i class="fa fa-search"></i> @L("Pick")</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" id="ClearQuyetDinhSoButton">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="VanBanDuAn_QuyetDinhId" value="@Model.VanBanDuAn.QuyetDinhId" type="text" name="quyetDinhId" hidden/>
                    }
                    else
                    {
                        <input class="form-control" id="VanBanDuAn_QuyetDinhId" value="" type="text" name="quyetDinhId" hidden/>
                    }
                    
                    <div class="form-group">
                        <label for="VanBanDuAn_SoLuongVanBanGiay">@L("SoQuyenHoSo")</label>
                        <input class="form-control" id="VanBanDuAn_SoLuongVanBanGiay" type="number" name="soLuongVanBanGiay" value="@Model.VanBanDuAn.SoLuongVanBanGiay"/>
                    </div>

                    <div class="form-group">
                        <label for="VanBanDuAn_SoTienThanhToan">@L("SoTienThanhToan")</label>
                        <input class="form-control" id="VanBanDuAn_SoTienThanhToan" value="@Model.VanBanDuAn.SoTienThanhToan.ToString(CultureInfo.InvariantCulture)" type="text" name="soTienThanhToan" required data-inputmask="'alias': 'decimal', 'groupSeparator': '.', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'suffix': ' VNĐ', 'placeholder': '0'"/>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="VanBanDuAn_FileVanBan">@L("FileHoSo")</label>
                        <div class="custom-file form-group">
                            <input id="VanBanDuAn_FileVanBan" type="file" name="fileMau" accept="application/pdf" value="" class="form-control custom-file-input mb-4"/>
                            <label id="custom-select-file" class="custom-file-label">Chọn file...</label>
                        </div>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div id="fileName"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")