@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.VanBanDuAns
@model CreateOrEditVanBanDuAnModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("ChinhSuaHoSoDuAn")) : L("ThemHoSoDuAn")))

<div class="modal-body">
    <div id="VanBanDuAnInformationsTab">
        <form name="VanBanDuAnInformationsForm" id="VanBanDuAnInformationsForm"  method="POST" role="form" novalidate class="form-validation" action="VanBanDuAns/UploadFileHopDong">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.VanBanDuAn.Id"/>
            }


            <input class="form-control" id="VanBanDuAn_DuAnId" value="@Model.VanBanDuAn.DuAnId" type="text" name="duAnId" hidden/>

            <input class="form-control" id="VanBanDuAn_QuyTrinhDuAnId" value="@Model.VanBanDuAn.QuyTrinhDuAnId" type="text" name="quyTrinhDuAnId" hidden/>


            <div class="form-group">
                <label for="VanBanDuAn_Name">@L("TenHoSo")</label>
                <input class="form-control" id="VanBanDuAn_Name" value="@Model.VanBanDuAn.Name" type="text" name="name" required maxlength="@TechBer.ChuyenDoiSo.QLVB.VanBanDuAnConsts.MaxNameLength" minlength="@TechBer.ChuyenDoiSo.QLVB.VanBanDuAnConsts.MinNameLength"/>
            </div>

            <div class="form-group">
                <label for="VanBanDuAn_KyHieuVanBan">@L("QuyetDinh")</label>
                <input class="form-control" id="VanBanDuAn_KyHieuVanBan" value="@Model.VanBanDuAn.KyHieuVanBan" type="text" name="kyHieuVanBan" required maxlength="@TechBer.ChuyenDoiSo.QLVB.VanBanDuAnConsts.MaxKyHieuVanBanLength" minlength="@TechBer.ChuyenDoiSo.QLVB.VanBanDuAnConsts.MinKyHieuVanBanLength"/>
            </div>

            <div class="form-group">
                <label for="VanBanDuAn_NgayBanHanh">@L("NgayBanHanh")</label>
                <input class="form-control m-input date-picker" id="VanBanDuAn_NgayBanHanh" type="text" name="ngayBanHanh" value="@Model.VanBanDuAn.NgayBanHanh"/>
            </div>

            <div class="form-group">
                <label for="VanBanDuAn_FileVanBan">@L("FileHoSo")</label>

                <div class="custom-file form-group">
                    <input id="VanBanDuAn_FileVanBan" type="file" name="fileMau" accept="application/pdf" value="" class="form-control custom-file-input mb-4"/>
                    <label id="custom-select-file" class="custom-file-label">Chọn file...</label>
                </div>
            </div>

            <div class="form-group">
                <label for="VanBanDuAn_ViTriLuuTru">@L("ViTriLuuTru")</label>
               <input class="form-control" id="VanBanDuAn_ViTriLuuTru" value="@Model.VanBanDuAn.ViTriLuuTru" type="text" name="viTriLuuTru" />
            </div>

            <div class="form-group">
                <label for="VanBanDuAn_SoTienThanhToan">@L("SoTienThanhToan")</label>
                <input class="form-control" id="VanBanDuAn_SoTienThanhToan" value="" type="number" name="soTienThanhToan"/>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")