@using TechBer.ChuyenDoiSo.Authorization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.VanBanDuAns
@using TechBer.ChuyenDoiSo.Web.Areas.App.Startup
@model VanBanDuAnsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.VanBanDuAns;
}
@section Styles
{
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/VanBanDuAns/Index.css" asp-append-version="true" />
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/VanBanDuAns/Index.js" asp-append-version="true"
        xmlns="http://www.w3.org/1999/html"></script>
}

<style>
    #tree a {
        white-space: normal !important;
        height: auto;
        padding: 1px 2px;
    }
        .tooltipss {
          position: relative;
          border-bottom: 1px dotted black;
        }
        
        .tooltipss .tooltipsstext {
          visibility: hidden;
          width: 100%;
          background-color: #164640d4;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          top:40px;
          left:0;
          /* Position the tooltip */
          position: absolute;
          z-index: 999;
        }
        
        .tooltipss:hover .tooltipsstext {
          visibility: visible;
        }
</style>
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("HoSo")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("VanBanDuAnsHeaderInfo") thuộc dự án <span style="color:indianred">"@Model.DuAnId.Name"</span>
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">

                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div id="AdvacedAuditFiltersArea" style="display: none" hidden class="row mb-4">
                    <input hidden id="loaduanid" value="@Model.DuAnId.LoaiDuAnId">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="KyHieuVanBanFilterId">@L("KyHieuVanBan")</label>
                            <input type="text" class="form-control" name="kyHieuVanBanFilter" id="KyHieuVanBanFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNgayBanHanhFilterId">@L("NgayBanHanhRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinNgayBanHanhFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxNgayBanHanhFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FileVanBanFilterId">@L("FileVanBan")</label>
                            <input type="text" class="form-control" name="fileVanBanFilter" id="FileVanBanFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DuAnNameFilterId">(@L("DuAn")) @L("Name")</label>
                            <select class="form-control" name="duAnNameFilter" id="DuAnNameFilterId">
                                @foreach (var Variable in Model.ListDuAn)
                                {
                                    if (Variable.Id == Model.DuAnId.Id)
                                    {
                                        <option value="@Variable.Id" selected>@Variable.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@Variable.Id">@Variable.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="QuyTrinhDuAnNameFilterId">(@L("QuyTrinhDuAn")) @L("Name")</label>
                            <input type="text" class="form-control" name="quyTrinhDuAnNameFilter" id="QuyTrinhDuAnNameFilterId">
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-4 align-self-stretch"    >
                        <div class="kt-container kt-container--fluid" style="padding: 0">
                            <div class="kt-subheader__main">
                                <h3 class="kt-subheader__title">
                                    <span>Quy trình</span>
                                </h3>
                                <div class="kt-portlet__head-toolbar" id="find">
                                    <div class="kt-portlet__head-actions">
                                        @if (IsGranted(AppPermissions.Pages_QuyTrinhDuAns_Create))
                                        {
                                            <button type="button" id="AddRootUnitButtonIA" class="btn btn-primary">
                                                <i class="fas fa-plus"></i> Thêm quy trình
                                            </button>
                                        }
                                        <button type="button" id="Collapse" class="btn btn-success"><i class="fas fa-eye"></i> Hiện tất cả</button>
                                        <button type="button" id="Expand" class="btn btn-outline-secondary" hidden><i class="fas fa-eye-slash"></i> Hiện tất cả</button>
                                        <button type="button" class="btn btn-info" id="reload-tree"><i class="fa fa-sync"></i>Refresh</button>

                                    </div>
                                    <br>
                                    <table class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                                        <tr>
                                            <th style="text-align: center"><i class="fa fa-folder" style="color: #a2a5b9"></i> Không hồ sơ</th>
                                            <th style="text-align: center"><i class="fa fa-folder" style="color: red"></i> Thiếu hồ sơ</th>
                                            <th style="text-align: center"><i class="fa fa-folder" style="color: green"></i> Đủ hồ sơ</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="kt-portlet__body" style="position:relative;height:calc(100vh - 300px); overflow-y: scroll">
                                <div id="tree"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 align-self-stretch">
                        <div class="kt-subheader__main">
                            <h3 class="kt-subheader__title">
                                <span>Hồ sơ</span>
                            </h3>
                            <div class="kt-portlet__head-toolbar" id="find">
                                <div class="kt-portlet__head-actions">
                                    <div class="row">
                                        <div class="col-6">
                                            @if (IsGranted(AppPermissions.Pages_VanBanDuAns_Create))
                                            {
                                                <button type="button" id="CreateVanBan" class="btn btn-primary">
                                                    <i class="fas fa-plus"></i> Thêm hồ sơ
                                                </button>
                                            }
                                            <button type="button" class="btn btn-success" id="filall">
                                                <i class="fas fa-eye"></i>Hiện tất cả
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group">
                                                <input type="text" id="VanBanDuAnsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                                <span class="input-group-btn">
                                                    <button id="GetVanBanDuAnsButton" class="btn btn-primary" type="submit">
                                                        <i class="flaticon-search-1"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="VanBanDuAnsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>@L("Actions")</th>
                                <th>@L("MaQuyTrinh")</th>
                                <th>@L("TenHoSo")</th>
                                <th>@L("NgayBanHanh")</th>
                                <th>@L("File")</th>
                                <th>@L("QuyetDinh")</th>
                                <th>@L("DuyetHoSo")</th>
                                @* <th>@L("HoSoGiay")</th> *@
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>