@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.BaoCaoVanBanDuAns
@model CreateOrEditBaoCaoVanBanDuAnModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditBaoCaoVanBanDuAn")) : L("CreateNewBaoCaoVanBanDuAn")))

<div class="modal-body">
    <div id="BaoCaoVanBanDuAnInformationsTab">
        <form name="BaoCaoVanBanDuAnInformationsForm" id="BaoCaoVanBanDuAnInformationsForm"  method="POST" role="form" novalidate class="form-validation" action="BaoCaoVanBanDuAns/UploadFileBaoCaoVanBanDuAn">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.BaoCaoVanBanDuAn.Id"/>
            }
            <input type="hidden" name="vanBanDuAnId" value="@Model.VanBanDuAnId"/>
            <input type="hidden" name="userId" value="@Model.NguoiGuiId"/>
            <div class="form-group">
                <label for="BaoCaoVanBanDuAn_NoiDungCongViec">@L("NoiDungCongViec")</label>
                <input class="form-control" id="BaoCaoVanBanDuAn_NoiDungCongViec" value="@Model.BaoCaoVanBanDuAn.NoiDungCongViec" type="text" name="noiDungCongViec"/>
            </div>

            <div class="form-group">
                <label for="BaoCaoVanBanDuAn_MoTaChiTiet">@L("MoTaChiTiet")</label>
                <input class="form-control" id="BaoCaoVanBanDuAn_MoTaChiTiet" value="@Model.BaoCaoVanBanDuAn.MoTaChiTiet" type="text" name="moTaChiTiet"/>
            </div>

            <div class="form-group">
                <label for="BaoCaoVanBanDuAn_FileBaoCao">@L("FileBaoCao")</label>
                <div class="custom-file form-group">
                    <input id="BaoCaoVanBanDuAn_FileBaoCao" type="file" name="fileMau" accept="application/pdf,.doc,.docx,.xlsx ,.xls" value="" class="form-control custom-file-input mb-4"/>
                    <label id="custom-select-file" class="custom-file-label">Chọn file...</label>
                </div>
            </div>
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
            <div id="fileName"></div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")