@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.DuAnThuHoies
@model DuAnThuHoiViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <button id="CreateNewDanhMucThuHoiButton" class="btn btn-primary blue">
        <i class="fa fa-plus"></i> @L("CreateNewDanhMucThuHoi")</button>
    <input hidden id="DuAnThuHoiId" value="@Model.DuAnThuHoiId" type="number"/>
    <table id="DanhMucThuHoiesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
        <thead>
        <tr>
            <th>@L("Actions")</th>
            <th>@L("Stt")</th>
            <th>@L("Ten")</th>
            <th>@L("TongDuTamUng")</th>
            <th>@L("TongThuTamUng")</th>
            <th>@L("KinhPhiTamUngChuyenNamSau")</th>
            <th>@L("GhiChu")</th>
        </tr>
        </thead>
    </table>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")