@using TechBer.ChuyenDoiSo.Authorization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.DuAnThuHoies
@using TechBer.ChuyenDoiSo.Web.Areas.App.Startup
@model DuAnThuHoiesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Host.DuAnThuHoies;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/DuAnThuHoies/Index.js" asp-append-version="true"></script>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("DuAnThuHoies")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("DuAnThuHoiesHeaderInfo")
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button id="ExportToExcelButton" class="btn btn-outline-success">
                        <i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
                    @if (IsGranted(AppPermissions.Pages_DuAnThuHoies_Create))
                    {
                        <button id="docPDF" class="btn btn-primary blue"><i class="fa fa-plus"></i> DocPDF</button>
                        <button id="SendZalo" class="btn btn-primary blue"><i class="fa fa-plus"></i> Gửi Zalo</button>
                        <button id="CreateNewDuAnThuHoiButton" class="btn btn-primary blue">
                            <i class="fa fa-plus"></i> @L("CreateNewDuAnThuHoi")</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="@(await GetContainerClass()) kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="DuAnThuHoiesTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetDuAnThuHoiesButton" class="btn btn-primary" type="submit">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MaDATHFilterId">@L("MaDATH")</label>
                            <input type="text" class="form-control" name="maDATHFilter" id="MaDATHFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TenFilterId">@L("Ten")</label>
                            <input type="text" class="form-control" name="tenFilter" id="TenFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNamQuanLyFilterId">@L("MinMax") @L("NamQuanLy")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minNamQuanLyFilter" id="MinNamQuanLyFilterId"/>
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxNamQuanLyFilter" id="MaxNamQuanLyFilterId"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinThoiHanBaoLanhHopDongFilterId">@L("ThoiHanBaoLanhHopDongRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinThoiHanBaoLanhHopDongFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxThoiHanBaoLanhHopDongFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinThoiHanBaoLanhTamUngFilterId">@L("ThoiHanBaoLanhTamUngRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinThoiHanBaoLanhTamUngFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxThoiHanBaoLanhTamUngFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="GhiChuFilterId">@L("GhiChu")</label>
                            <input type="text" class="form-control" name="ghiChuFilter" id="GhiChuFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinTrangThaiFilterId">@L("MinMax") @L("TrangThai")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minTrangThaiFilter" id="MinTrangThaiFilterId"/>
                                <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxTrangThaiFilter" id="MaxTrangThaiFilterId"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                            <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                            <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="DuAnThuHoiesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L("MaDATH")</th>
                            <th style="width: 250px">@L("Ten")</th>
                            <th>@L("NamQuanLy")</th>
                            <th>@L("TongDuTamUng")</th>
                            <th>@L("TongThuTamUng")</th>
                            <th>@L("KinhPhiTamUngChuyenNamSau")</th>
                            <th>@L("ThoiHanBaoLanhHopDong")</th>
                            <th>@L("ThoiHanBaoLanhTamUng")</th>
                            <th>@L("GhiChu")</th>
                            <th>@L("TrangThai")</th>    
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>