@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.QuyetDinhs
@model CreateOrEditQuyetDinhModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditQuyetDinh")) : L("CreateNewQuyetDinh")))

<div class="modal-body">
    <div id="QuyetDinhInformationsTab">
        <form name="QuyetDinhInformationsForm" id="QuyetDinhInformationsForm"  method="POST" role="form" novalidate class="form-validation" action="QuyetDinhs/UploadFileQuyetDinh">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.QuyetDinh.Id"/>
            }
            
            <div class="form-group">
                <label for="QuyetDinh_So">@L("So")</label>
                <input class="form-control" id="QuyetDinh_So" value="@Model.QuyetDinh.So" type="text" name="so"/>
            </div>

            <div class="form-group">
                <label for="QuyetDinh_Ten">@L("Ten")</label>
                <input class="form-control" id="QuyetDinh_Ten" value="@Model.QuyetDinh.Ten" type="text" name="ten"/>
            </div>

            <div class="form-group">
                <label for="QuyetDinh_NgayBanHanh">@L("NgayBanHanh")</label>
                <input class="form-control m-input date-picker" id="QuyetDinh_NgayBanHanh" type="text" name="ngayBanHanh" value="@Model.QuyetDinh.NgayBanHanh"/>
            </div>

            <div class="form-group">
                <label for="QuyetDinh_FileQuyetDinh">@L("FileQuyetDinh")</label>
                <div class="custom-file form-group">
                    <input id="QuyetDinh_FileQuyetDinh" type="file" name="fileMau" accept="application/pdf,.doc,.docx" value="" class="form-control custom-file-input mb-4"/>
                    <label id="custom-select-file" class="custom-file-label">Chọn file...</label>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")