
@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.SdtZalos
@model CreateOrEditSdtZaloModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSdtZalo")) : L("CreateNewSdtZalo")))

<div class="modal-body">
        <div id="SdtZaloInformationsTab">
            <form name="SdtZaloInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.SdtZalo.Id" />
                }

				

				
								<div class="form-group">
									<label for="SdtZalo_Ten">@L("Ten")</label>
									<input class="form-control" id="SdtZalo_Ten" value="@Model.SdtZalo.Ten" type="text" name="ten"     />
								</div>
					
								<div class="form-group">
									<label for="SdtZalo_Sdt">@L("Sdt")</label>
									<input class="form-control" id="SdtZalo_Sdt" value="@Model.SdtZalo.Sdt" type="text" name="sdt"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
