
@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.QuyTrinhDuAns
@model CreateOrEditQuyTrinhDuAnModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditQuyTrinhDuAn")) : L("CreateNewQuyTrinhDuAn")))

<div class="modal-body">
        <div id="QuyTrinhDuAnInformationsTab">
            <form name="QuyTrinhDuAnInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.QuyTrinhDuAn.Id" />
                }

				            
								<div class="form-group m-form__group">
										<label for="LoaiDuAnName">@L("LoaiDuAn")</label>
									    <div class="input-group">
											<input class="form-control" id="LoaiDuAnName" name="loaiDuAnName" value="@Model.LoaiDuAnName" type="text" disabled>
										<div class="input-group-append">
											<button class="btn btn-primary blue" id="OpenLoaiDuAnLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
										</div> 
										<div class="input-group-prepend">
											<button class="btn btn-danger btn-icon" type="button" id="ClearLoaiDuAnNameButton"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

								@if (Model.IsEditMode)
								{
									<input class="form-control" id="QuyTrinhDuAn_LoaiDuAnId" value="@Model.QuyTrinhDuAn.LoaiDuAnId" type="text" name="loaiDuAnId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="QuyTrinhDuAn_LoaiDuAnId" value="" type="text" name="loaiDuAnId"  hidden/>
								}



				
								<div class="form-group">
									<label for="QuyTrinhDuAn_Name">@L("Name")</label>
									<input class="form-control" id="QuyTrinhDuAn_Name" value="@Model.QuyTrinhDuAn.Name" type="text" name="name"  required    />
								</div>
					
								<div class="form-group">
									<label for="QuyTrinhDuAn_Descriptions">@L("Descriptions")</label>
									<input class="form-control" id="QuyTrinhDuAn_Descriptions" value="@Model.QuyTrinhDuAn.Descriptions" type="text" name="descriptions"     />
								</div>
					
								<div class="form-group">
									<label for="QuyTrinhDuAn_STT">@L("STT")</label>
									<input class="form-control m-input" id="QuyTrinhDuAn_STT" value="@Model.QuyTrinhDuAn.STT.ToString(CultureInfo.InvariantCulture)" type="number" name="stt"  />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
